@mixin custom-input {
  @include border(#808080);
  border-radius: 2px;
  background-color: #fff;
  box-sizing: $borderBox;
  height: 35px;
  padding-left: 1.2rem;
  color: #343131;
  min-width: 100%;
  width: 100%;
  font-weight: normal;
  font-size: 1.7rem;

  &:hover {
    @include border(#57DAB0);
  }
  &:focus {
    @include border(#57DAB0);
  }
}